@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

$background-color: #000000;
$foreground-color: #E6FDFF;

body{
	background: $background-color;
}

.contact-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&-title{
		color: $foreground-color;
				
		font-family: "Jersey 20", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 32px;
				
		text-align: center;
	}
	
	&-subtitle{
		color: $foreground-color;
					
		font-family: "Glory", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-size: 20px;
		text-align: center;
		
		&-link{
			color: $foreground-color;
			
			&:hover{
				color:darken($foreground-color, 20%);
			}
		}
	}
}