@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

$background-color: #000000;
$foreground-color: #E6FDFF;

body{
	background: $background-color;
}

@media all and (max-width: 1500px){
.portfolio-section{

	&-div{
		
		&-title{

		}

		&-wrapper{
			
			&-item{
				&-link{
					&-img{

						
						&:hover{
						
						}
					}
				}
			}
		}
	}
}

.videos-section{

	
	&-div{

		
		&-title{

		}
		
		&-wrapper{
			
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: repeat(2, 2fr);
			grid-gap: 15px;
			grid-auto-rows: minmax(100px, auto);

			&-item{
				
				&-ytvid{
									
				}
				
				&-p{

				}
			}
		}
	}
}

.print-section{
	
	&-div{
		
		&-title{

		}
		
		&-item{
			
			&-title{

			}
			
			&-wrapper{
				
				&-title{
			
				}
				
				&-group{
					
					&-img{

					}
				}
			}
			
			&-wrapper2{
				
				&-title{
			
				}
				
				&-group{
					
					&-img{

					}
				}
			}
			&-wrapper3{
				
				&-title{
				
				}
				
				&-group{
					
					&-img{

					}
				}
			}
		}
	}
}
}