$background-color: #000000;
$foreground-color: #E6FDFF;

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin header-divs{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header{
	
	@include header-divs;
	
	background: #000000;
	margin: 0;
	
	&-div-logo{
		
		&-img{
				
			margin: 30px;
				
		}
			
	}
	
	@mixin button-animation{

	}
	
	
	&-div-buttons{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	
		&-links{
			
			&-navlink{
				margin: 1em;
				
				color: $foreground-color;
	
				font-family: "Jersey 20", sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 24px;
				
				text-decoration: none;
				
				transition: font-size .2s;
				
				:hover{
					cursor: pointer;
					color: darken($foreground-color, 10%);
					transform:scale(110%);
				}	
			
			}
			
		}
		
		&-socials{
			
			&-navlink{
				margin: 0.2em;
				
				transition: transform .2s;
				
				:hover{
					cursor: pointer;
					transform:scale(110%);
				}	
		}
	}
	
}

}