$background-color: #000000;
$foreground-color: #E6FDFF;

#mixin header-divs{
	display: flex;
	flex-direction: row;
}

.header{
	background: #000000;
	margin: 0;
	
	&-div-logo{
		
		&-img{
				
			margin: 30px;
				
		}
			
	}
}