@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #000000;
$foreground-color: #E6FDFF;

.portfolio-item-div{
	display: flex;
	margin: 1em 4em; 
	padding: 2em;
	border: solid;
	border-radius: 2em;
	border-color: $foreground-color;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none !important; 
	
	transition: transform .2s;
	
	width: 75%;

		&-inner{
			
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		&-img{
			width: 15em;
			height: 15em;
			margin: 0.5em;
			border: solid;
			border-radius: 1em;
			border-color: $foreground-color;
		}
		
		&-textarea{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			margin: 2em;
			text-decoration: none;
			
			&-text{
				text-align: left;
				color: $foreground-color;
				font-family: "Glory", sans-serif;
				font-size: 28px;
				text-decoration: none !important; 
			}
			
			&-typeof{
				text-align: left;
				color:darken($foreground-color, 20%);
				font-family: "Glory", sans-serif;
				font-size: 20px;
				text-decoration: none !important;

			}
		}
		
	}
	
	&:hover{
		cursor: pointer;
		transform:scale(105%);
	}
}

	.fade-in {
		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 1s;
	}

	@keyframes fadeInOpacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}