@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

$background-color: #000000;
$foreground-color: #E6FDFF;

@media all and (max-width: 1200px){
	.landing-section-div-img{
		width:720px;
	}
}

@media all and (max-width: 1090px){
	.landing-section{
		&-div{
			&-img{
				
			}
			&-txt{
				
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 750px;
			}
			&-link{
				
			}
		}
	}
}

@media all and (max-width: 805px){
	.landing-section{
		&-div{
			&-img{
				width:520px;
			}
			&-txt{
				
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 600px;
				font-size: 24px;
			}
			&-link{
				
			}
		}
	}
}

@media all and (max-width: 600px){
	.landing-section{

		&-div{
			margin-top: 60px;
			margin-bottom: 30px;
			&-img{
				width:420px;
			}
			&-txt{
				margin-top: 20px;
				font-size: 28px;
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 500px;
				font-size: 24px;
			}
			&-link{
				
			}
		}
	}
}

@media all and (max-width: 541px){
	.landing-section{

		&-div{

			&-img{
				width: 350px;
			}
			&-txt{
		
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 400px;
				font-size: 24px;
			}
			&-link{
				font-size: 32px;
			}
		}
	}
}

@media all and (max-width: 478px){
	.landing-section{

		&-div{

			&-img{
				width: 30	0px;
			}
			&-txt{
		
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 300px;
				font-size: 20px;
			}
			&-link{
				font-size: 32px;
			}
		}
	}
}

@media all and (max-width: 443px){
	.landing-section{

		&-div{

			&-img{
				width: 300px;
			}
			&-txt{
		
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{

			}
			&-link{

			}
		}
	}
}

@media all and (max-width: 402px){
	.landing-section{

		&-div{

			&-img{
				width: 250px;
			}
			&-txt{
		
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{

			}
			&-link{

			}
		}
	}
}

@media all and (max-width: 370px){
	.landing-section{
		margin-right: 20px;
		margin-left: 20px;

		&-div{
			margin-top: 20px;
			margin-bottom: 5px;
			&-img{
				width: 250px;
				margin: 10px;
			}
			&-txt{
				margin: 10px;
				margin-top: 20px;
				font-size: 20px;
			}
			&-arrow{
				margin: 10px;
			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 320px;
				font-size: 20px;
			}
			&-link{
				
			}
		}
	}
}

@media all and (max-width: 310px){
	.landing-section{

		&-div{

			&-img{

			}
			&-txt{

			}
			&-arrow{

			}
		}
	}
	
	.about-section{
		&-div{
			&-title{
				
			}
			&-p{
				width: 250px;
				font-size: 20px;
			}
			&-link{
				font-size: 24px;
			}
		}
	}
}