@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

$background-color: #000000;
$foreground-color: #E6FDFF;

.main-area{
	margin: 60px;
}

.landing-section{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/alextorodesigns.appspot.com/o/new-website%2FSection-Background.webp?alt=media&token=22afc625-c155-4dad-8eba-8bd48b7c327b");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	
	align-items: flex-end;
	
	&-div{
		margin-top: 190px;
		margin-bottom: 100px;
		
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		
		&-img{
			width: 939px;
			margin: 60px;
		}
		
		&-txt{
			color: $foreground-color;
			text-align: end;
			margin: 60px;
			
			font-family: "Jersey 20", sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 38px;
		}
		
		&-arrow{
			width: 36px;
			margin: 60px;
			animation-duration: 1s;
			animation-name: slide-in;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		
		@keyframes slide-in {
		  from {
			translate: 0 1vw;
		  }

		  to {
			translate: 0 0;
		  }
		}
	}
}

.about-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background: $background-color;
	
	&-div{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		&-title{
			color: $foreground-color;
			
			font-family: "Jersey 20", sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 48px;
		}
		
		&-p{
			color: $foreground-color;
			
			font-family: "Glory", sans-serif;
			font-optical-sizing: auto;
			font-style: normal;
			font-size: 28px;
			text-align: center;
			
			width: 1000px;
		}
		
		&-link{
			color: $foreground-color;
			
			font-family: "Jersey 20", sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 48px;
			
			text-decoration-color: $foreground-color;
		}
	}
}